In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
listings = pd.read_csv('./listings.csv')
listings.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,44077,https://www.airbnb.com/rooms/44077,20220911231053,2022-09-12,city scrape,cosy comfortable Irish cottage twin,Our house was built in 1937 when there was ple...,I like our neighbourhood as there is no shorta...,https://a0.muscache.com/pictures/525706/050a3a...,193005,...,4.93,4.66,4.82,NaN,f,2,0,2,0,1.85
1,85156,https://www.airbnb.com/rooms/85156,20220911231053,2022-09-12,city scrape,Cosy Comfortable Irish Cottage 1 Double Bed,Our Cottage is a charming light filled cottage...,"I love Dundrum and its surrounding areas ,<br ...",https://a0.muscache.com/pictures/1749253/9ed2a...,193005,...,4.88,4.64,4.78,NaN,f,2,0,2,0,1.53
2,159889,https://www.airbnb.com/rooms/159889,20220911231053,2022-09-12,city scrape,Friendly Single Room,Washing can be done at a cost of €5 per load....,Plenty of buses into the city and the area is ...,https://a0.muscache.com/pictures/3031697/a8259...,766611,...,4.90,4.63,4.74,NaN,f,3,0,3,0,2.78
3,162809,https://www.airbnb.com/rooms/162809,20220911231053,2022-09-11,city scrape,5.5 miles south of Dublin City :^),A nice place to relax after the bustle of the ...,"Close to the sea, hill walks and the city - vi...",https://a0.muscache.com/pictures/86694529/c07b...,777681,...,4.97,4.77,4.85,NaN,f,2,0,2,0,3.68
4,165828,https://www.airbnb.com/rooms/165828,20220911231053,2022-09-11,city scrape,Pádraig Pearse apt. Kilmainham,"Don't just visit Dublin, experience Dublin in ...","Enjoy a walk along the grand canal, or just ob...",https://a0.muscache.com/pictures/34311419/b3f6...,790601,...,4.75,4.34,4.55,NaN,t,5,5,0,0,0.48

In [5]:
listings.rename(columns={'id':'listing_id'}, inplace = True)
listings

,listing_id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,44077,https://www.airbnb.com/rooms/44077,20220911231053,2022-09-12,city scrape,cosy comfortable Irish cottage twin,Our house was built in 1937 when there was ple...,I like our neighbourhood as there is no shorta...,https://a0.muscache.com/pictures/525706/050a3a...,193005,...,4.93,4.66,4.82,NaN,f,2,0,2,0,1.85
1,85156,https://www.airbnb.com/rooms/85156,20220911231053,2022-09-12,city scrape,Cosy Comfortable Irish Cottage 1 Double Bed,Our Cottage is a charming light filled cottage...,"I love Dundrum and its surrounding areas ,<br ...",https://a0.muscache.com/pictures/1749253/9ed2a...,193005,...,4.88,4.64,4.78,NaN,f,2,0,2,0,1.53
2,159889,https://www.airbnb.com/rooms/159889,20220911231053,2022-09-12,city scrape,Friendly Single Room,Washing can be done at a cost of €5 per load....,Plenty of buses into the city and the area is ...,https://a0.muscache.com/pictures/3031697/a8259...,766611,...,4.90,4.63,4.74,NaN,f,3,0,3,0,2.78
3,162809,https://www.airbnb.com/rooms/162809,20220911231053,2022-09-11,city scrape,5.5 miles south of Dublin City :^),A nice place to relax after the bustle of the ...,"Close to the sea, hill walks and the city - vi...",https://a0.muscache.com/pictures/86694529/c07b...,777681,...,4.97,4.77,4.85,NaN,f,2,0,2,0,3.68
4,165828,https://www.airbnb.com/rooms/165828,20220911231053,2022-09-11,city scrape,Pádraig Pearse apt. Kilmainham,"Don't just visit Dublin, experience Dublin in ...","Enjoy a walk along the grand canal, or just ob...",https://a0.muscache.com/pictures/34311419/b3f6...,790601,...,4.75,4.34,4.55,NaN,t,5,5,0,0,0.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7561,712909401324393615,https://www.airbnb.com/rooms/712909401324393615,20220911231053,2022-09-12,city scrape,Comfortable double room with private bathroom,Comfortable double room with private bathroom ...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,38652370,...,NaN,NaN,NaN,NaN,f,1,0,1,0,NaN
7562,712914322433199115,https://www.airbnb.com/rooms/712914322433199115,20220911231053,2022-09-12,city scrape,Welcome 1-bedroom available. Free parking & Wi-Fi,Single room available in family home. Bus rout...,NaN,https://a0.muscache.com/pictures/4c044921-f6fd...,89156390,...,NaN,NaN,NaN,NaN,f,2,0,2,0,NaN
7563,712914393022526732,https://www.airbnb.com/rooms/712914393022526732,20220911231053,2022-09-11,city scrape,Cheerful 5-bedroom Home Friendly Irish Welcome,Forget your worries in this spacious and seren...,"Fantastic transport routes, 5 mins from luas g...",https://a0.muscache.com/pictures/53ed618c-3c14...,128213034,...,NaN,NaN,NaN,NaN,t,2,0,2,0,NaN
7564,712966369602352444,https://www.airbnb.com/rooms/712966369602352444,20220911231053,2022-09-12,city scrape,Double Bedroom in Private Home,Large double room with panoramic views of Fr. ...,Clongriffin dart station and 15 bus close by. ...,https://a0.muscache.com/pictures/miso/Hosting-...,256847071,...,NaN,NaN,NaN,NaN,t,1,0,1,0,NaN
7565,713034176403340330,https://www.airbnb.com/rooms/713034176403340330,20220911231053,2022-09-12,city scrape,Cozy Basement studio,Keep it simple at this peaceful and centrally-...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,403801975,...,NaN,NaN,NaN,NaN,f,3,1,2,0,NaN

In [4]:
reviews = pd.read_csv('./reviews.csv')
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,44077,203703,2011-03-20,393348,Christian,We enjoyed our stay very much. The room was co...
1,44077,211369,2011-03-28,444004,Solidea,We have been here 4 nights. Stay in a home is ...
2,44077,234215,2011-04-21,465058,Michael And Isabelle,Teresa and Hughie were great hosts. They were ...
3,44077,261843,2011-05-13,490005,Weston,"No surprises, was as described. Very gracious..."
4,44077,268148,2011-05-17,520460,Barbara,"Teresa was a lovely hostess, and we had a deli..."

In [11]:
df = listings.join(reviews.set_index('listing_id'), on='listing_id', lsuffix= '_listing')

In [12]:
df.head()

,listing_id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,id,date,reviewer_id,reviewer_name,comments
0,44077,https://www.airbnb.com/rooms/44077,20220911231053,2022-09-12,city scrape,cosy comfortable Irish cottage twin,Our house was built in 1937 when there was ple...,I like our neighbourhood as there is no shorta...,https://a0.muscache.com/pictures/525706/050a3a...,193005,...,2,0,2,0,1.85,203703.0,2011-03-20,393348.0,Christian,We enjoyed our stay very much. The room was co...
0,44077,https://www.airbnb.com/rooms/44077,20220911231053,2022-09-12,city scrape,cosy comfortable Irish cottage twin,Our house was built in 1937 when there was ple...,I like our neighbourhood as there is no shorta...,https://a0.muscache.com/pictures/525706/050a3a...,193005,...,2,0,2,0,1.85,211369.0,2011-03-28,444004.0,Solidea,We have been here 4 nights. Stay in a home is ...
0,44077,https://www.airbnb.com/rooms/44077,20220911231053,2022-09-12,city scrape,cosy comfortable Irish cottage twin,Our house was built in 1937 when there was ple...,I like our neighbourhood as there is no shorta...,https://a0.muscache.com/pictures/525706/050a3a...,193005,...,2,0,2,0,1.85,234215.0,2011-04-21,465058.0,Michael And Isabelle,Teresa and Hughie were great hosts. They were ...
0,44077,https://www.airbnb.com/rooms/44077,20220911231053,2022-09-12,city scrape,cosy comfortable Irish cottage twin,Our house was built in 1937 when there was ple...,I like our neighbourhood as there is no shorta...,https://a0.muscache.com/pictures/525706/050a3a...,193005,...,2,0,2,0,1.85,261843.0,2011-05-13,490005.0,Weston,"No surprises, was as described. Very gracious..."
0,44077,https://www.airbnb.com/rooms/44077,20220911231053,2022-09-12,city scrape,cosy comfortable Irish cottage twin,Our house was built in 1937 when there was ple...,I like our neighbourhood as there is no shorta...,https://a0.muscache.com/pictures/525706/050a3a...,193005,...,2,0,2,0,1.85,268148.0,2011-05-17,520460.0,Barbara,"Teresa was a lovely hostess, and we had a deli..."

In [29]:
df.columns

Index(['listing_id', 'listing_url', 'scrape_id', 'last_scraped', 'source',
       'name', 'description', 'neighborhood_overview', 'picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'id', 'date', 'reviewer_id', 'reviewer_name', 'comments'],
      dtype='object')

In [17]:
ys = df.filter(regex='^review_scores.*')
ys.head()

,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
0,4.78,4.83,4.74,4.93,4.93,4.66,4.82
0,4.78,4.83,4.74,4.93,4.93,4.66,4.82
0,4.78,4.83,4.74,4.93,4.93,4.66,4.82
0,4.78,4.83,4.74,4.93,4.93,4.66,4.82
0,4.78,4.83,4.74,4.93,4.93,4.66,4.82

In [23]:
for col in df.columns:
    print(df[col])

0                    44077
0                    44077
0                    44077
0                    44077
0                    44077
               ...
7561    712909401324393615
7562    712914322433199115
7563    712914393022526732
7564    712966369602352444
7565    713034176403340330
Name: listing_id, Length: 244540, dtype: int64
0                    https://www.airbnb.com/rooms/44077
0                    https://www.airbnb.com/rooms/44077
0                    https://www.airbnb.com/rooms/44077
0                    https://www.airbnb.com/rooms/44077
0                    https://www.airbnb.com/rooms/44077
                             ...
7561    https://www.airbnb.com/rooms/712909401324393615
7562    https://www.airbnb.com/rooms/712914322433199115
7563    https://www.airbnb.com/rooms/712914393022526732
7564    https://www.airbnb.com/rooms/712966369602352444
7565    https://www.airbnb.com/rooms/713034176403340330
Name: listing_url, Length: 244540, dtype: object
0       20220911231053
0       20220911231053
0       20220911231053
0       20220911231053
0       20220911231053
             ...
7561    20220911231053
7562    20220911231053
7563    20220911231053
7564    20220911231053
7565    20220911231053
Name: scrape_id, Length: 244540, dtype: int64
0       2022-09-12
0       2022-09-12
0       2022-09-12
0       2022-09-12
0       2022-09-12
           ...
7561    2022-09-12
7562    2022-09-12
7563    2022-09-11
7564    2022-09-12
7565    2022-09-12
Name: last_scraped, Length: 244540, dtype: object
0       city scrape
0       city scrape
0       city scrape
0       city scrape
0       city scrape
           ...
7561    city scrape
7562    city scrape
7563    city scrape
7564    city scrape
7565    city scrape
Name: source, Length: 244540, dtype: object
0                     cosy comfortable Irish cottage twin
0                     cosy comfortable Irish cottage twin
0                     cosy comfortable Irish cottage twin
0                     cosy comfortable Irish cottage twin
0                     cosy comfortable Irish cottage twin
                              ...
7561        Comfortable double room with private bathroom
7562    Welcome 1-bedroom available. Free parking & Wi-Fi
7563       Cheerful 5-bedroom Home Friendly Irish Welcome
7564                       Double Bedroom in Private Home
7565                                 Cozy Basement studio
Name: name, Length: 244540, dtype: object
0       Our house was built in 1937 when there was ple...
0       Our house was built in 1937 when there was ple...
0       Our house was built in 1937 when there was ple...
0       Our house was built in 1937 when there was ple...
0       Our house was built in 1937 when there was ple...
                              ...
7561    Comfortable double room with private bathroom ...
7562    Single room available in family home. Bus rout...
7563    Forget your worries in this spacious and seren...
7564    Large double room with panoramic views of Fr. ...
7565    Keep it simple at this peaceful and centrally-...
Name: description, Length: 244540, dtype: object
0       I like our neighbourhood as there is no shorta...
0       I like our neighbourhood as there is no shorta...
0       I like our neighbourhood as there is no shorta...
0       I like our neighbourhood as there is no shorta...
0       I like our neighbourhood as there is no shorta...
                              ...
7561                                                  NaN
7562                                                  NaN
7563    Fantastic transport routes, 5 mins from luas g...
7564    Clongriffin dart station and 15 bus close by. ...
7565                                                  NaN
Name: neighborhood_overview, Length: 244540, dtype: object
0       https://a0.muscache.com/pictures/525706/050a3a...
0       https://a0.muscache.com/pictures/525706/050a3a...
0       https://a0.muscache.com/pictures/525706/050a3a...
0       https://a0.muscache.com/pictures/525706/050a3a...
0       https://a0.muscache.com/pictures/525706/050a3a...
                              ...
7561    https://a0.muscache.com/pictures/miso/Hosting-...
7562    https://a0.muscache.com/pictures/4c044921-f6fd...
7563    https://a0.muscache.com/pictures/53ed618c-3c14...
7564    https://a0.muscache.com/pictures/miso/Hosting-...
7565    https://a0.muscache.com/pictures/miso/Hosting-...
Name: picture_url, Length: 244540, dtype: object
0          193005
0          193005
0          193005
0          193005
0          193005
          ...
7561     38652370
7562     89156390
7563    128213034
7564    256847071
7565    403801975
Name: host_id, Length: 244540, dtype: int64
0          https://www.airbnb.com/users/show/193005
0          https://www.airbnb.com/users/show/193005
0          https://www.airbnb.com/users/show/193005
0          https://www.airbnb.com/users/show/193005
0          https://www.airbnb.com/users/show/193005
                           ...
7561     https://www.airbnb.com/users/show/38652370
7562     https://www.airbnb.com/users/show/89156390
7563    https://www.airbnb.com/users/show/128213034
7564    https://www.airbnb.com/users/show/256847071
7565    https://www.airbnb.com/users/show/403801975
Name: host_url, Length: 244540, dtype: object
0         Teresa
0         Teresa
0         Teresa
0         Teresa
0         Teresa
          ...
7561     Gillian
7562      Teresa
7563    Patricia
7564      Sorcha
7565       Angel
Name: host_name, Length: 244540, dtype: object
0       2010-08-06
0       2010-08-06
0       2010-08-06
0       2010-08-06
0       2010-08-06
           ...
7561    2015-07-16
7562    2016-08-10
7563    2017-04-30
7564    2019-04-19
7565    2021-05-27
Name: host_since, Length: 244540, dtype: object
0              Dublin, Ireland
0              Dublin, Ireland
0              Dublin, Ireland
0              Dublin, Ireland
0              Dublin, Ireland
                 ...
7561           Dublin, Ireland
7562    County Dublin, Ireland
7563           Dublin, Ireland
7564           Dublin, Ireland
7565                       NaN
Name: host_location, Length: 244540, dtype: object
0       I am  a friendly outgoing Irishwoman ,who love...
0       I am  a friendly outgoing Irishwoman ,who love...
0       I am  a friendly outgoing Irishwoman ,who love...
0       I am  a friendly outgoing Irishwoman ,who love...
0       I am  a friendly outgoing Irishwoman ,who love...
                              ...
7561                                                  NaN
7562                                                  NaN
7563                                                  NaN
7564                                                  NaN
7565                                                  NaN
Name: host_about, Length: 244540, dtype: object
0           within an hour
0           within an hour
0           within an hour
0           within an hour
0           within an hour
               ...
7561                   NaN
7562        within an hour
7563    within a few hours
7564                   NaN
7565        within an hour
Name: host_response_time, Length: 244540, dtype: object
0       100%
0       100%
0       100%
0       100%
0       100%
        ...
7561     NaN
7562    100%
7563    100%
7564     NaN
7565    100%
Name: host_response_rate, Length: 244540, dtype: object
0        99%
0        99%
0        99%
0        99%
0        99%
        ...
7561     NaN
7562     23%
7563     25%
7564     NaN
7565    100%
Name: host_acceptance_rate, Length: 244540, dtype: object
0       t
0       t
0       t
0       t
0       t
       ..
7561    f
7562    f
7563    f
7564    f
7565    f
Name: host_is_superhost, Length: 244540, dtype: object
0       https://a0.muscache.com/im/users/193005/profil...
0       https://a0.muscache.com/im/users/193005/profil...
0       https://a0.muscache.com/im/users/193005/profil...
0       https://a0.muscache.com/im/users/193005/profil...
0       https://a0.muscache.com/im/users/193005/profil...
                              ...
7561    https://a0.muscache.com/im/pictures/user/b8e11...
7562    https://a0.muscache.com/im/pictures/user/c3388...
7563    https://a0.muscache.com/im/pictures/user/0a8e7...
7564    https://a0.muscache.com/im/pictures/user/dd31c...
7565    https://a0.muscache.com/im/pictures/user/92689...
Name: host_thumbnail_url, Length: 244540, dtype: object
0       https://a0.muscache.com/im/users/193005/profil...
0       https://a0.muscache.com/im/users/193005/profil...
0       https://a0.muscache.com/im/users/193005/profil...
0       https://a0.muscache.com/im/users/193005/profil...
0       https://a0.muscache.com/im/users/193005/profil...
                              ...
7561    https://a0.muscache.com/im/pictures/user/b8e11...
7562    https://a0.muscache.com/im/pictures/user/c3388...
7563    https://a0.muscache.com/im/pictures/user/0a8e7...
7564    https://a0.muscache.com/im/pictures/user/dd31c...
7565    https://a0.muscache.com/im/pictures/user/92689...
Name: host_picture_url, Length: 244540, dtype: object
0          Churchtown
0          Churchtown
0          Churchtown
0          Churchtown
0          Churchtown
            ...
7561         Kinsealy
7562              NaN
7563              NaN
7564       Donaghmede
7565    The Liberties
Name: host_neighbourhood, Length: 244540, dtype: object
0       2
0       2
0       2
0       2
0       2
       ..
7561    1
7562    2
7563    2
7564    1
7565    3
Name: host_listings_count, Length: 244540, dtype: int64
0       2
0       2
0       2
0       2
0       2
       ..
7561    1
7562    2
7563    2
7564    2
7565    3
Name: host_total_listings_count, Length: 244540, dtype: int64
0            ['email', 'phone']
0            ['email', 'phone']
0            ['email', 'phone']
0            ['email', 'phone']
0            ['email', 'phone']
                 ...
7561         ['email', 'phone']
7562         ['email', 'phone']
7563         ['email', 'phone']
7564         ['email', 'phone']
7565    ['phone', 'work_email']
Name: host_verifications, Length: 244540, dtype: object
0       t
0       t
0       t
0       t
0       t
       ..
7561    t
7562    t
7563    t
7564    t
7565    t
Name: host_has_profile_pic, Length: 244540, dtype: object
0       t
0       t
0       t
0       t
0       t
       ..
7561    t
7562    f
7563    t
7564    f
7565    f
Name: host_identity_verified, Length: 244540, dtype: object
0                        Churchtown, Ireland
0                        Churchtown, Ireland
0                        Churchtown, Ireland
0                        Churchtown, Ireland
0                        Churchtown, Ireland
                        ...
7561                                     NaN
7562                                     NaN
7563    Druid Valley, County Dublin, Ireland
7564       Dublin 13, County Dublin, Ireland
7565                                     NaN
Name: neighbourhood, Length: 244540, dtype: object
0       Dn Laoghaire-Rathdown
0       Dn Laoghaire-Rathdown
0       Dn Laoghaire-Rathdown
0       Dn Laoghaire-Rathdown
0       Dn Laoghaire-Rathdown
                ...
7561                   Fingal
7562                   Fingal
7563    Dn Laoghaire-Rathdown
7564              Dublin City
7565              Dublin City
Name: neighbourhood_cleansed, Length: 244540, dtype: object
0      NaN
0      NaN
0      NaN
0      NaN
0      NaN
        ..
7561   NaN
7562   NaN
7563   NaN
7564   NaN
7565   NaN
Name: neighbourhood_group_cleansed, Length: 244540, dtype: float64
0       53.29178
0       53.29178
0       53.29178
0       53.29178
0       53.29178
          ...
7561    53.42416
7562    53.45739
7563    53.24707
7564    53.40717
7565    53.35646
Name: latitude, Length: 244540, dtype: float64
0      -6.257920
0      -6.257920
0      -6.257920
0      -6.257920
0      -6.257920
          ...
7561   -6.169390
7562   -6.224050
7563   -6.142810
7564   -6.158870
7565   -6.266784
Name: longitude, Length: 244540, dtype: float64
0              Private room in bungalow
0              Private room in bungalow
0              Private room in bungalow
0              Private room in bungalow
0              Private room in bungalow
                     ...
7561               Private room in home
7562    Private room in casa particular
7563               Private room in home
7564               Private room in home
7565                       Entire condo
Name: property_type, Length: 244540, dtype: object
0          Private room
0          Private room
0          Private room
0          Private room
0          Private room
             ...
7561       Private room
7562       Private room
7563       Private room
7564       Private room
7565    Entire home/apt
Name: room_type, Length: 244540, dtype: object
0       2
0       2
0       2
0       2
0       2
       ..
7561    2
7562    1
7563    2
7564    2
7565    3
Name: accommodates, Length: 244540, dtype: int64
0      NaN
0      NaN
0      NaN
0      NaN
0      NaN
        ..
7561   NaN
7562   NaN
7563   NaN
7564   NaN
7565   NaN
Name: bathrooms, Length: 244540, dtype: float64
0       1.5 shared baths
0       1.5 shared baths
0       1.5 shared baths
0       1.5 shared baths
0       1.5 shared baths
              ...
7561    1.5 shared baths
7562       1 shared bath
7563    1.5 shared baths
7564    1.5 shared baths
7565              1 bath
Name: bathrooms_text, Length: 244540, dtype: object
0       1.0
0       1.0
0       1.0
0       1.0
0       1.0
       ...
7561    1.0
7562    1.0
7563    2.0
7564    1.0
7565    1.0
Name: bedrooms, Length: 244540, dtype: float64
0       2.0
0       2.0
0       2.0
0       2.0
0       2.0
       ...
7561    1.0
7562    1.0
7563    2.0
7564    1.0
7565    2.0
Name: beds, Length: 244540, dtype: float64
0       ["Oven", "Hot water kettle", "Fire extinguishe...
0       ["Oven", "Hot water kettle", "Fire extinguishe...
0       ["Oven", "Hot water kettle", "Fire extinguishe...
0       ["Oven", "Hot water kettle", "Fire extinguishe...
0       ["Oven", "Hot water kettle", "Fire extinguishe...
                              ...
7561    ["TV", "Lock on bedroom door", "Security camer...
7562    ["Essentials", "Wifi", "Hair dryer", "Free par...
7563    ["Oven", "Fire extinguisher", "Dryer", "Hanger...
7564    ["Hot water kettle", "Free washer", "HDTV", "O...
7565                  ["Wifi", "Long term stays allowed"]
Name: amenities, Length: 244540, dtype: object
0        $70.00
0        $70.00
0        $70.00
0        $70.00
0        $70.00
         ...
7561    $200.00
7562     $48.00
7563     $64.00
7564    $240.00
7565    $280.00
Name: price, Length: 244540, dtype: object
0       3
0       3
0       3
0       3
0       3
       ..
7561    1
7562    1
7563    2
7564    1
7565    1
Name: minimum_nights, Length: 244540, dtype: int64
0       1125
0       1125
0       1125
0       1125
0       1125
        ...
7561     365
7562       2
7563      90
7564     365
7565     365
Name: maximum_nights, Length: 244540, dtype: int64
0       3
0       3
0       3
0       3
0       3
       ..
7561    1
7562    1
7563    2
7564    1
7565    1
Name: minimum_minimum_nights, Length: 244540, dtype: int64
0       3
0       3
0       3
0       3
0       3
       ..
7561    1
7562    1
7563    2
7564    1
7565    1
Name: maximum_minimum_nights, Length: 244540, dtype: int64
0       1125
0       1125
0       1125
0       1125
0       1125
        ...
7561     365
7562       2
7563    1125
7564     365
7565     365
Name: minimum_maximum_nights, Length: 244540, dtype: int64
0       1125
0       1125
0       1125
0       1125
0       1125
        ...
7561     365
7562       2
7563    1125
7564     365
7565     365
Name: maximum_maximum_nights, Length: 244540, dtype: int64
0       3.0
0       3.0
0       3.0
0       3.0
0       3.0
       ...
7561    1.0
7562    1.0
7563    2.0
7564    1.0
7565    1.0
Name: minimum_nights_avg_ntm, Length: 244540, dtype: float64
0       1125.0
0       1125.0
0       1125.0
0       1125.0
0       1125.0
         ...
7561     365.0
7562       2.0
7563    1125.0
7564     365.0
7565     365.0
Name: maximum_nights_avg_ntm, Length: 244540, dtype: float64
0      NaN
0      NaN
0      NaN
0      NaN
0      NaN
        ..
7561   NaN
7562   NaN
7563   NaN
7564   NaN
7565   NaN
Name: calendar_updated, Length: 244540, dtype: float64
0       t
0       t
0       t
0       t
0       t
       ..
7561    t
7562    t
7563    t
7564    t
7565    t
Name: has_availability, Length: 244540, dtype: object
0        2
0        2
0        2
0        2
0        2
        ..
7561     2
7562    27
7563    12
7564    30
7565     0
Name: availability_30, Length: 244540, dtype: int64
0       11
0       11
0       11
0       11
0       11
        ..
7561     2
7562    56
7563    32
7564    60
7565     0
Name: availability_60, Length: 244540, dtype: int64
0       18
0       18
0       18
0       18
0       18
        ..
7561     7
7562    86
7563    52
7564    90
7565     0
Name: availability_90, Length: 244540, dtype: int64
0       104
0       104
0       104
0       104
0       104
       ...
7561    273
7562     86
7563    306
7564    353
7565      0
Name: availability_365, Length: 244540, dtype: int64
0       2022-09-12
0       2022-09-12
0       2022-09-12
0       2022-09-12
0       2022-09-12
           ...
7561    2022-09-12
7562    2022-09-12
7563    2022-09-11
7564    2022-09-12
7565    2022-09-12
Name: calendar_last_scraped, Length: 244540, dtype: object
0       258
0       258
0       258
0       258
0       258
       ...
7561      0
7562      0
7563      0
7564      0
7565      0
Name: number_of_reviews, Length: 244540, dtype: int64
0       31
0       31
0       31
0       31
0       31
        ..
7561     0
7562     0
7563     0
7564     0
7565     0
Name: number_of_reviews_ltm, Length: 244540, dtype: int64
0       7
0       7
0       7
0       7
0       7
       ..
7561    0
7562    0
7563    0
7564    0
7565    0
Name: number_of_reviews_l30d, Length: 244540, dtype: int64
0       2011-03-20
0       2011-03-20
0       2011-03-20
0       2011-03-20
0       2011-03-20
           ...
7561           NaN
7562           NaN
7563           NaN
7564           NaN
7565           NaN
Name: first_review, Length: 244540, dtype: object
0       2022-09-09
0       2022-09-09
0       2022-09-09
0       2022-09-09
0       2022-09-09
           ...
7561           NaN
7562           NaN
7563           NaN
7564           NaN
7565           NaN
Name: last_review, Length: 244540, dtype: object
0       4.78
0       4.78
0       4.78
0       4.78
0       4.78
        ...
7561     NaN
7562     NaN
7563     NaN
7564     NaN
7565     NaN
Name: review_scores_rating, Length: 244540, dtype: float64
0       4.83
0       4.83
0       4.83
0       4.83
0       4.83
        ...
7561     NaN
7562     NaN
7563     NaN
7564     NaN
7565     NaN
Name: review_scores_accuracy, Length: 244540, dtype: float64
0       4.74
0       4.74
0       4.74
0       4.74
0       4.74
        ...
7561     NaN
7562     NaN
7563     NaN
7564     NaN
7565     NaN
Name: review_scores_cleanliness, Length: 244540, dtype: float64
0       4.93
0       4.93
0       4.93
0       4.93
0       4.93
        ...
7561     NaN
7562     NaN
7563     NaN
7564     NaN
7565     NaN
Name: review_scores_checkin, Length: 244540, dtype: float64
0       4.93
0       4.93
0       4.93
0       4.93
0       4.93
        ...
7561     NaN
7562     NaN
7563     NaN
7564     NaN
7565     NaN
Name: review_scores_communication, Length: 244540, dtype: float64
0       4.66
0       4.66
0       4.66
0       4.66
0       4.66
        ...
7561     NaN
7562     NaN
7563     NaN
7564     NaN
7565     NaN
Name: review_scores_location, Length: 244540, dtype: float64
0       4.82
0       4.82
0       4.82
0       4.82
0       4.82
        ...
7561     NaN
7562     NaN
7563     NaN
7564     NaN
7565     NaN
Name: review_scores_value, Length: 244540, dtype: float64
0      NaN
0      NaN
0      NaN
0      NaN
0      NaN
        ..
7561   NaN

In [24]:
#model building

In [43]:
import torch

class regg(torch.nn.Module):
    
    def __init__(self, inpp , outt):
        super().__init__()
        self.linear1 = torch.nn.Linear(inpp, 20)
        self.activation = torch.nn.ReLU()
        self.linear2 = torch.nn.Linear(20 , outt)
        self.activation2 = torch.nn.ReLU()
    
    
    def forward(self):
        x = self.linear1(x)
        x = self.activation(x)
        x = self.linear2(x)
        x = self.softmax(x)
        return x

In [46]:
def trainn(epocs, x, y, model, optimizer , loss_fn):
    error_trace = []
    
    for epoch in epochs:
        outputs = model.forward(x)

        loss = loss_fn(outputs, y)
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()

        error_trace += loss.item()
        if epoch == 1 or epoch % 10 == 0:
                print('{} Epoch {}, Training loss {}'.format(
                    datetime.datetime.now(), epoch,
                    error_trace[-1]))

In [47]:
model = regg(30 , 1)